@font-face{
    font-family:'Poppins';
    src: url("Poppins-Regular.ttf")
}
.title-form{
    text-align:center;
    font-size: 30px;
    margin: 70px 0 0;
    font-family: 'Poppins', sans-serif;
}
.container-form{
    padding: 10px;
    max-width: 900px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
}

.container-form label{
    font-size: 20px;
}

.container-form input{
    padding: 10px;
    border-radius: 50px;
    border: transparent;
    margin-bottom: 25px;
    font-size: 15px;
    background-color: #F5F4F9;
    padding-left: 50px;
}

.user{
    background-image: url('user.svg');
    background-repeat: no-repeat;
    background-position: 20px 13px;
    background-size : 15px;
    color:black;
    font-family: 'Poppins', sans-serif;
}

.password{
    background-image: url('padlock.svg');
    background-repeat: no-repeat;
    background-position: 20px 13px;
    background-size : 15px;
    font-family: 'Poppins', sans-serif;
}

input::placeholder {
    color: #F5F4F9;
    font-family: 'Poppins', sans-serif;
  }

.container-form button{
    padding: 10px 15px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    background-color: #7C42FC;
    color: white;
    font-family: 'Poppins', sans-serif;
}
