@font-face {
    font-family: 'Poppins';
    src: url("Poppins-Regular.ttf");
}

.card-custom {
    text-decoration: none;
    color: inherit;
    cursor: default;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    color: black;
    transition: color 0.3s;
    width: 70%;
    align-items: center;
    margin:auto;
}

.card-custom:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    color: black;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
}

.card-custom h2 {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.button-delete {
    position: relative;
    background-image: url('delete.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;
    padding: 15px;
    border-radius: 50px;
    width: 5%;
    border: 1px solid #7C42FC;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    float: right;
}

.button-delete:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}
