.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    margin-top: 20px;
    position : relative;
    z-index: 1;
}

.card:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.card h2{
    font-size: 15px;
    margin-bottom: 10px;
}