.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    padding: 10px 15px;
    width: 10%;
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
    color: black;
    font-family: 'Poppins', sans-serif;
    border-image: linear-gradient(to right, #38D8FF, #7C42FC);
    border-image-slice: 1;
    border-radius: 50px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(49,49,49,0.8);
  }

  .modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
  }

  .modal-content p {
    line-height: 1.4;
  }

  .close-modal {
    background-image: url('close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: transparent;
    color: #A4A8AD;
    cursor: pointer;
    border: 0px;
    font-family: 'Poppins', sans-serif;
  }

  
