@font-face{
    font-family:'Poppins';
    src: url("Poppins-Regular.ttf")
}

.container-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto 0;
}

.title-modal{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.button-modal{
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 50px;
    cursor: pointer;
    background-color: #7C42FC;
    color: white;
}