@font-face{
    font-family:'Poppins';
    src: url("Poppins-Regular.ttf")
}

.container-conversations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.title-modal{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.button-for-modal {
    color: #f1f1f1;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    font-size: 16px;
    border-radius: 50px;
    border: 1.5px solid #7C42FC;
    background-color: #7C42FC;
    width: 100px;
    margin-left: 10px; 
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .button-for-modal:hover {
    box-shadow: 0 0 10px white(0, 0, 0, 0.3);
    transform: scale(1.1);
    background-color: #7C42FC;
    border-color: #7C42FC;
  }
  
  .button-for-modal:active {
    background-color: #7C42FC;
  }
  
  .button-for-modal:focus {
    background-color: #7C42FC;
    --bs-btn-active-bg: #7C42FC;
    --bs-btn-active-border-color: #7C42FC;
  }